<!DOCTYPE html>
<html lang="pl">

<html>
    <head>
        <title>Prawo Ohma</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <form action = "/wynik" method = "POST">
            <p>Program wyliczający opór</p>
            <p>Podaj napięcie U[V]: <input type = "number" name = "u" /></p>
            <p>Podaj natężenie I[A]: <input type = "number" name = "i" /></p>
            <p><input type = "submit" value = "Oblicz" /></p>
        </form>
    </body>
</html>


    